/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-family: Montserrat;
	font-weight: 500;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ------HEADER---------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0 0 0 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {	
}
.menu__item:not(:last-child) {
	margin: 0 21px 0 0;
}
.menu__link {
	color: #737373;
	/* 14px /24 * 100 = 171% */
	/* line-height: calc(24 / 14 * 100%)*/
	line-height: 171%;
	font-weight: 600;
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}
/* ------PAGE---------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	margin-top: -111px;
	position: relative;
	z-index: 2;
}
/* --------MAIN-BLOCK--------------------------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	position: relative;
	padding: 184px 0 191px 0;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0 160px 0;
	}
}
.main-block__body > *:not(:last-child) {
	margin-bottom: 35px;
}
.main-block__title {
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 800;
	letter-spacing: 0.2px;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
	color: #737373;
}
@media (max-width: 479px) {
	.main-block__text {
		color: #4d4b4b;
	}
}
.main-block__buttons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 36px;
	min-height: 48px;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	margin: 10px 0;
}
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	color: #fff;
	background: #FF7B47;
} 
.main-block__button_border {
	color: #0D5C63;
	border: 1px solid #0D5C63;
} 
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-block__image img {
	object-position: bottom;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
/*----------------------------------------*/
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}	
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin-bottom: 30px;
	}
	.services__column:last-child {
		flex: 0 1 100%;
	}
}
.services__item {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
	height: 100%;
}
@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-services {
	transition: all .5s;
}
.item-services:hover {
	background: #0D5C63;
}
.item-services:hover path {
	fill: white;
}
.item-services:hover > * {
	color: #fff;
}
.item-services > *:not(:last-child) {
	margin-bottom: 10px;
}
.item-services__icon {
}
.item-services__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 133%;
	letter-spacing: 0.1px;

}
.item-services__text {
	color: #737373;
	line-height: 142%;
}
/* ------FOOTER---------------------------------------------------------*/
